<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sedegree.dao.ProfileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sedegree.domain.ProfileInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from profile_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from profile_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sedegree.domain.ProfileInfo" >
    insert into profile_info (id, role_type)
    values (#{id,jdbcType=BIGINT}, #{roleType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sedegree.domain.ProfileInfo" >
    insert into profile_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleType != null" >
        role_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roleType != null" >
        #{roleType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sedegree.domain.ProfileInfo" >
    update profile_info
    <set >
      <if test="roleType != null" >
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sedegree.domain.ProfileInfo" >
    update profile_info
    set role_type = #{roleType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>